@charset "utf-8";
/* CSS Document */
	.cardbox{
		border:0.1em #3D3D3D groove;border-bottom: black;
	}
	.card{
		margin:2.5em 1.25em;height: 55em; border-bottom: 0.1em #3D3D3D groove;
	}
	.cardintro{
		position: relative;left: 0.625em;top:-1.875em;width: 40.625em;height:50em;text-align: center; display: inline-block;float: left;
	}
	.cardphoto{
		 height: 20em; display: inline-block;float: left;
	}
	.cardphotoimg{
		height: 21.875em;width: 18.75em;display: inline;float:left;
		
	}
	