@charset "utf-8";
/* CSS Document */


html body
	{
	height:100% ; margin: 0;background-color: white;
	}

@media only screen and (min-width: 100px) and (max-width: 1000px){
	html body
	{
	height:100% ; margin: 0;background-color: white;;font-size:8px;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1700px){
	html body
	{
	height:100% ; margin: 0;background-color: white;
	font-size: 12px;
	}
 }

 @media only screen and (min-width: 1700px) and (max-width: 2000px){
	html body
	{
	height:100% ; margin: 0;background-color: white;
	font-size: 16px;
	}
}

.wrap{
	min-height: 50em;
}



		.version{
			font-size: 1.2em;
		}

		.version a:link,.version a:visited
		{
		color:#FFFFFF;
		background-color:#81020f;
		text-align:center;
		text-decoration:none;
		font-size: 1.5em;
		}

		.version a:hover,.version a:active
		{
		color:#FFFFFF;
		background-color:#81020f;
		text-align:center;
		font-weight:bold;
		font-size: 1.5em;
		}
 
		.menu ul li{
			display: inline;
		}

		.menu{
			margin-bottom: 1em;
			height: 4em;
			width: 100%; 
			background-color: #81020f;
			position: relative;top:-1.5em
		}

		
	.guideline {
		position: relative;top:1.2em;

	}
	


	/* 正常状态下与被访问后的超链接状态 */
	a.guideline:link,a.guideline:visited
	{
	color:#FFFFFF;
	background-color:#81020f;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	padding:1em;
	font-size: 1.2em;
	}

	/* 鼠标放上去或者点击时的超链接状态 */
	a.guideline:hover,a.guideline:active
	{
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	background-color:white;
	color: black;
	padding-left: 1.2em;
	padding-right: 1.2em;
	padding-top: 1.2em;
	padding-bottom: 1.5em;
	font-size: 1.2em;
	}
	

h1{
	font-size: 2.5em;
}

h2{
	font-size: 2em;
}

h3{
	font-size: 1.5em;
}

h4{
	font-size: 1em;
}

h5{
	font-size: 0.5em;
}

.news{
	display: inline-block;
}

.contact_us{
	display: inline-block;
}


.Link ul li{
	font-size: 3em;
	padding: 0.2em;
}

a.links:hover{
	color:red;
}

a.links:active{
	color:red;
}

a.links:link{
	color:blue;
}

a.links:visited{
	color: blue;
}

.publication_content{
	border:0.1em  #000000 groove; width: 60%;margin-left: 20%;margin-bottom: 3%;
}
.publication_content ul li{
	padding:0.3em;font-size: 1.5em;
}