@charset "utf-8";
/* CSS Document */

	html, body {
            height: 100%;margin: 0;background-color: #F4F4F2;
        }
 
	li{
		list-style-type:none
	}
	
	.guidelinebox{
		background-color: #ac3a05; height: 4em;
		margin-left: 2em; list-style-type:none;margin:0;padding-left: 12em;
	}
	.guideline{
		display:inline;float:left;
	}
	a.guideline{
		font-size: 1.5em;
		font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana,' sans-serif';
	}
	
	a.guideline:link,a.guideline:visited
	{
	font-weight:bold;
	color:#FFFFFF;
	background-color:#ac3a05;
	text-align:center;
	padding:0.5em;	
	text-decoration:none;
	text-transform:uppercase;
	}
	a.guideline:hover,a.guideline:active
	{
	background-color:#0f36e4;
	border: 2px solid #0407c2;
	}
	
.flex-container {
    display: flex;
	}

.flex-item {
    height: 100px;
    margin: 20px;
	}
.wrap{
		min-height: 100%;
	}
h1{
	font-size: 2.5em;
}

h2{
	font-size: 2em;
}

h3{
	font-size: 1.5em;
}

h4{
	font-size: 1em;
}

h5{
	font-size: 0.5;
}

.news{
	display: inline-block;
}

.contact_us{
	display: inline-block;
}

