@charset "utf-8";
/* CSS Document */

	.sidebar {width:340px; margin: auto 60px auto 0;  position: fixed; left:auto; top:50%;
		font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana,' sans-serif';
	}

	.sidebar a:link,a:visited
	{
			color:#FFFFFF;
	background-color:#02529F;
		text-align: center;
		padding: 7px;
		 border-radius: 6px 0px;
		
	}
	.sidebar a:hover,a:active{
		font-size: 1.2em;
		background-color: #002B52;
		
	}