@charset "utf-8";
/* CSS Document */

	.sidebar {width:20em; margin: auto 4.5em auto 0;  position: fixed; left:auto; top:50%;
		font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana,' sans-serif';
	}

	.sidebar a:link,a:visited
	{
			color:#FFFFFF;
	background-color:#02529F;
		text-align: center;
		padding: 0.3em;
		 border-radius: 0.3em 0.3em;
		
	}
	.sidebar a:hover,a:active{
		font-size: 1.2em;
		background-color: #002B52;
		
	}